# Dependencies
node_modules/
.pnp/
.pnp.js

# Build
dist/
build/
*.egg-info/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Testing
coverage/
.pytest_cache/

# Docker
.docker/

# AI Models
*.pt
*.pth
*.pkl
*.npy
*.h5
!ai/models/.gitkeep

# lightgcn 데이터 무시
ai/training/lightgcn_data/*
!ai/training/lightgcn_data/.gitkeep
# sbert 데이터 무시
ai/training/sbert_data/*
!ai/training/sbert_data/.gitkeep
# original 데이터 무시
ai/training/original_data/*
!ai/training/original_data/.gitkeep
# index 폴더 자체를 무시하지 않도록 설정 
!ai/training/sbert_data/index/
# index 폴더 안의 파일들은 다 무시하되
ai/training/sbert_data/index/*
# 그 중에서 .gitkeep만 다시 살림
!ai/training/sbert_data/index/.gitkeep


# Secrets
.env
.env.local
.env.production
.env.*.local
docker-compose.yml
docker-compose.gpu.yml
*.pem
*.key

# Temp
tmp/
temp/
*.tmp

# Database dumps (large files)
*.sql
!database/migrations/*.sql
